<h1>chalega</h1>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='trainingBatch.base'}"/>
	<div class="aem-Grid aem-Grid--6 aem-Grid--12">
		<div id="welcome">
				<div class="site-width bgimage" style="background-image: url('${properties.bgImageReference @ context='styleString'}'); margin: 0 auto"> 
					<div class="centered-text">
                    <center>
						<h2 >${properties.heading @context='html'} </h2>
                        </center>
					</div>
					<div style="display: inline;" class="welcome-section">
						<div style="padding-bottom: 50px"  class="welcome-item icon-global-presence">
<img style="float:left; padding-right: 50px" src="${properties.contentficon}" height=90 width=90/>
							<h3>${properties.contentfh @context='html'}</h3>
							<p>${properties.contentf @context='html'}</p>
						</div>

						<div style="display: inline;" class="welcome-item icon-world-class-benefits" >
<img style="float:left; padding: 50px;" src="${properties.contentsicon}" height=70 width=80/>
							<h3>${properties.contentsh @context='html'}</h3>
							<p>${properties.contents @context='html'}</p>
						</div>
						
						<div id="button-explore-global-benefits" class="welcome-item">
<a href="#" class="button" role="button">${properties.btntxt @context='html'}</a>

						</div>
					</div>
				</div>

			</div>
	</div>
<!-- welcome-tile End here -->