.small-business-products #welcome .site-width {
    background: #f8f8f8;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    color: #293033;
	max-width: 1130px;
    box-sizing: border-box;
	margin: 0px auto;
}
.small-business-products #welcome .site-width div{
	max-width: 900px;
    margin: 0 auto;
}
.small-business-products #welcome .heading-three h2
{
	margin-bottom: 10px;
	font-family: 'gotham-medium';
	text-align: center;
	font-size: 24px;
    letter-spacing: 0.14em;
	line-height: 1;
	text-transform: uppercase;
}
.small-business-products #welcome .heading-three p
{
	text-align: center;
	line-height: 1.4;
    margin-bottom: 10px;
    font-family: Georgia;
	font-size: 15px;
}

/*Media Query*/


@media (max-width: 767px)
{

.small-business-products #welcome .heading-three h2	
        {
            font-size: 19px;
            letter-spacing: 0.06em;
        }
	.small-business-products #welcome .heading-three p
    {
        font-size: 15px;
        padding:0px;
    }

}