
#welcome .site-width {
    max-width: 1130px;
    box-sizing: border-box;
    padding: 75px 100px 75px;
    color: #002554;
}
#welcome .site-width .welcome-section {
    max-width: 755px;
    margin: 0px auto;
}
#welcome h2 {
    margin-bottom: 55px;
	font-size: 42px;
    letter-spacing: 0.3em;
}
#welcome .welcome-item {
    padding-left: 90px;
    margin-bottom: 35px;
    position: relative;
}
#welcome .welcome-item.icon-global-presence:before {
    left: 7px;
}
#welcome .F:before {
    position: absolute;
    left: 0px;
    font-size: 50px;
    top: 0px;
}
#welcome .welcome-item h3 {
    margin-bottom: 30px;
}
#welcome button.button:focus, #welcome button.button:hover {
    text-decoration: none;
    color: #002554;
}

@media only screen and (max-width:1023px) {
	#welcome .site-width {
		margin: 0px;
		padding: 40px 20px;
	}
	#button-explore-global-benefits.welcome-item {
		padding-left: 0px;
		color : red;
		margin: 0px;
	}
	#welcome h2 {
		font-size: 24px;
		letter-spacing: 0.14em;
	}
}
